.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  scrollbar-width: none !important;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.w-300 {
  min-width: 300px;
  flex-shrink: 0;
}

.prev,
.nxt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgba(87, 4, 0, 0.46);
  border: none;
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.clientReview-card {
  background: #1a1a1a;
  border-radius: 16px;
  width: 400px;
  min-height: 350px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-grey {
  color: #c9c9c9;
}
