.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  scrollbar-width: none !important;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.brandLogo {
  padding-inline: 20px;
}

.prev,
.nxt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgba(87, 4, 0, 0.46);
  border: none;
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.clientReview-card {
  background: #1a1a1a;
  border-radius: 16px;
  width: 400px;
  min-height: 350px;
}

.profile-img {
  width: 56px;
  height: 56px;
  background-color: #8b0000 !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-grey {
  color: #c9c9c9;
}

@media (max-width: 450px) {
  .w-300 {
    min-width: 400px;
    flex-shrink: 0;
  }
}
