// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // scrollbar-gutter: stable;
}

body {
  padding-top: 60px;
  color-scheme: light;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cursor {
  cursor: pointer !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-18 {
  font-size: 18px;
}

/* ✅ Success Snackbar */
.mat-mdc-snack-bar-container.success-snackbar .mdc-snackbar__surface {
  background-color: #28a745 !important;
  color: #fff !important;
  font-weight: 500;
  z-index: 10000000000 !important;
}

/* ❌ Error Snackbar */
.mat-mdc-snack-bar-container.error-snackbar .mdc-snackbar__surface {
  background-color: #dc3545 !important;
  color: #fff !important;
  font-weight: 500;
  z-index: 10000000000 !important;
}

.mat-mdc-snack-bar-container.warning-snackbar .mdc-snackbar__surface {
  background-color: #ffa500 !important;
  color: #fff !important;
  font-weight: 500;
  z-index: 10000000 !important;
}

/* Common setup for progress animation */
.mat-mdc-snack-bar-container.snackbar-with-progress .mdc-snackbar__surface {
  position: relative;
  overflow: hidden;
  border-radius: 8px !important;
  padding-bottom: 6px !important;
}

/* Fake progress bar at bottom */
.mat-mdc-snack-bar-container.snackbar-with-progress .mdc-snackbar__surface::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  animation: shrinkBar 4s linear forwards;
}

//input box inner icon css
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .innerText {
  position: absolute;
}

/* align icon */
.left-addon .innerText {
  left: 0px;
  // padding-bottom: 10px;
  padding: 6px 10px 15px 15px;
  cursor: pointer;
}
.right-addon .innerText {
  right: 10px;
  padding: 5px 0px;
  cursor: pointer;
}
